<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}!</p>
  <br/>
  <p>Password recovery was requested for your account on the Whiteeth platform.</p>
  <p>Click the link below to reset your password:</p>
  <p>
    <a href="{{link}}" target= "_blank" rel="noreferrer noopener">Reset my password</a>
  </p>
  <br />
  <p>If you haven't requested password recovery, please disregard this email.</p>
  <br />
  <p>Sincerely,</p>
  <strong>Whiteeth</strong>
</div>