PORT = 3333

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = docker
TYPEORM_DATABASE = dentist-appointment
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = ./src/modules/**/infra/typeorm/entities/*.ts
TYPEORM_MIGRATIONS = ./src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = ./src/shared/infra/typeorm/migrations

JWT_PRIVATE_KEY = 48D187DD-3302-4D62-B376-B613908CD858
